@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    padding-top: 30px;
    margin-bottom: 40px;
    // background: linear-gradient(270deg, #3e5773, #18a2f0, #e26932);
	// background: linear-gradient(270deg, #eee, #ddd);
	background: linear-gradient(270deg, #fffaf8, #f0f9ff);
	background-size: 600% 600%;
	-webkit-animation: Background-gradient 140s ease infinite;
	-moz-animation: Background-gradient 140s ease infinite;
	animation: Background-gradient 140s ease infinite;
}

.navbar {
    padding-left: 0px !important;
    padding-right: 0px !important;

    a, a:visited {
        font-family: Montserrat;
        font-size: $nav-menu-item;
        text-transform: uppercase;
    }
}

footer.content-info, .text-2 .widget_text {
    margin-top: 60px;
    text-align: center;
    font-family: Raleway;
    font-size: $paragraph * 0.9;
    color: #999;
}

@-webkit-keyframes Background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Background-gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}